html body,
html body * {
  box-sizing: border-box;
}
.main {
  max-width: 960px;
  margin: 0 auto;
}

button {
  height: 40px;
  width: 220px;
  margin-left: 10%;
  font-weight: 800;
  font-size: 14px;
  border-radius: 3px;
  background-color: lightgrey;
  box-shadow: 1px 2px 2px grey;
}

.container {
  width: 100%;
  padding: 10px;
  border: 3px double black;
}

.row {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.row:after {
  content: '';
  display: block;
  clear: both;
}

.col {
  float: left;
  width: 100%;
  padding: 10px;
}
.fad {
  border-left: solid lightgrey;
  border-right: solid lightgrey;
  padding: 0 15px;
}
.cap {
  padding: 0 15px;
}
.fd {
  padding: 0 15px;
}

.grid-item {
  min-height: 50px;
  background-color: blanchedalmond;
  box-shadow: 0px 5px 30px -10px black;
  margin-bottom: 10px;
  margin-top: 10px;
}

.col-1 {
  width: 8.33%
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

